<?xml version="1.0"?>
<launch>
  <arg name="start_gazebo" default="true" />
  <arg name="use_sim_time" default="true" />
  <arg name="gz_gui" default="true" />
  <arg name="world_path" default="$(find common_simulations)/worlds/ethz_cam1.world" />

  <arg name="robot_name" default="roverboard_1"/>
  <arg name="robot_initial_loc" default="-x 0.5 -y 0.5 -z 0.04"/>
  <arg name="robot_initial_ori" default="-R 0 -P 0 -Y 0"/>
  
  <!-- Launch Gazebo with the specified world -->
  <group if="$(arg start_gazebo)">
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="debug" value="0" />
      <arg name="gui" value="$(arg gz_gui)" />
      <arg name="use_sim_time" value="$(arg use_sim_time)" />
      <arg name="world_name" value="$(arg world_path)" />
    </include>
  </group>

  <!-- Load robot's description to parameter server -->
  <include file="$(find roverboard_description)/launch/description.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
  </include>

  <!-- Spawn robot in gazebo -->
  <node name="$(arg robot_name)_urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	args="-urdf -model $(arg robot_name) -param  $(arg robot_name)/robot_description
	      $(arg robot_initial_loc) $(arg robot_initial_ori) -robot_namespace $(arg robot_name)" />
  
</launch>

