<?xml version="1.0"?>
<launch>
  <!-- Starts control -->
  <arg name="robot_name" default="pierrette" />

  <arg name="publish_robot_state" default="false"/>

  <!-- load control configuration -->
  <rosparam command="load" file="$(find roverboard_bbb)/config/control_$(arg robot_name).yaml" />

  <!-- load controllers -->
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner" args="joint_publisher diff_drive_controller"/>
  
  <!-- publish robot state -->
  <group if="$(arg publish_robot_state)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find roverboard_description)/urdf/roverboard_1.urdf.xacro"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
  </group>
  
</launch>
