<?xml version="1.0"?>
<launch>
  <!-- Starts the hardware on the real robot -->
  <include file="$(find roverboard_bbb)/launch/hardware.launch"/>
  <!-- Starts control -->
  <include file="$(find roverboard_bbb)/launch/control.launch"/>
  <!-- Starts description -->
  <include file="$(find roverboard_description)/launch/description.launch"/>
  <!-- Starts a teleop node -->
  <include file="$(find roverboard_bbb)/launch/teleop.launch"/>
 </launch>


