<?xml version="1.0" encoding="utf8"?>


<robot name="caroline" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="robot_name" value="caroline" />

  <!-- Body -->
  <xacro:property name="chassis_l"  value="0.25" /> 
  <xacro:property name="chassis_w"  value="0.144" /> 
  <xacro:property name="chassis_h"  value="0.02" /> 
  <xacro:property name="chassis_dz" value="0.05" />
  <xacro:property name="chassis_dx" value="-0.08" />
  <xacro:property name="chassis_m"  value="1.25" />

  <!-- Main wheels -->
  <xacro:property name="wheel_radius" value="0.0375" />
  <xacro:property name="wheel_width"  value="0.057" />
  <xacro:property name="wheel_track"  value="0.280" />
  <xacro:property name="wheel_mass"   value="0.5" />
  <xacro:property name="wheel_joint_damping" value="0.01" />
  <xacro:property name="wheel_joint_friction" value="0.01" />
  <xacro:property name="wheel_joint_eff_limit" value="1" />
  <xacro:property name="wheel_joint_vel_limit" value="10" />
  
  <!-- Caster wheel -->
  <xacro:property name="caster_ax1_l"     value="0.05"  /> <!-- size and location !-->
  <xacro:property name="caster_ax1_r"     value="0.01" />  <!-- of vertical axle  !-->
  <xacro:property name="caster_ax1_dx"    value="-0.18" />  <!-- wrt base_link     !-->
  <xacro:property name="caster_ax1_dy"    value="0." />
  <xacro:property name="caster_ax1_dz"    value="0.05" />
  <xacro:property name="caster_ax1_joint_damping"    value="0.1" />
  <xacro:property name="caster_ax1_joint_friction"   value="0.01" />
  <xacro:property name="caster_ax2_l"     value="0.05"/>          <!-- size and location  !-->
  <xacro:property name="caster_ax2_r"     value="0.005"/>         <!-- of horizontal axle !-->
  <xacro:property name="caster_ax2_loc"   value="-0.025 0 -0.05"/> <!-- wrt vert axle      !-->
  <xacro:property name="caster_ax2_joint_damping"    value="0.1" />
  <xacro:property name="caster_ax2_joint_friction"   value="0.01" />
  <xacro:property name="caster_wheel_r"   value="0.035"/> <!-- Wheel diameter and hub diameter-->
  <xacro:property name="caster_wheel_r1"  value="0.01" /> 
  <xacro:property name="caster_wheel_l"   value="0.03" /> <!-- wheel thickness --> 
  <xacro:property name="caster_wheel_m"   value="0.25" /> <!-- wheel mass      -->

  
  <xacro:property name="high_definition_body_visual" value="false" />
  <xacro:property name="high_definition_wheel_visual" value="true" />
  <xacro:property name="high_definition_wheel_mesh" value="package://roverboard_description/meshes/skate_wheel_75.dae" />
  <xacro:property name="high_definition_cwheel_visual" value="true" />
  <xacro:property name="high_definition_cwheel_plate_visual" value="false" />


  <xacro:property name="use_camera" value="true" />
  <xacro:property name="cam_name" value="camera_road_front" />
  <xacro:property name="cam_hd_visual" value="true" />
  <xacro:property name="cam_cl_to_ref_xyz" value="0.06483087  0.00032532  0.1591418" />
  <!-- <xacro:property name="cam_look_down_deg" value="25." /> -->
  <!-- <xacro:property name="cam_cl_to_ref_rpy" value="0 ${cam_look_down_deg/180*pi}} 0" /> -->
  <xacro:property name="cam_cl_to_ref_rpy" value="0.0077082   0.47182333  0.02633946" />
  <!-- Camera 2 -->
  <xacro:property name="use_camera2" value="true" />
  <xacro:property name="cam2_name" value="camera_horiz_front" />
  <xacro:property name="cam2_cl_to_ref_xyz" value="0.06483087  0.00032532  0.22" />
  <xacro:property name="cam2_cl_to_ref_rpy" value="0.0077082   -0.1  0.02633946" />
  
  <xacro:property name="use_hokuyo_lidar" value="true" />

  <xacro:include filename="$(find roverboard_description)/urdf/roverboard.urdf.xacro" />
   
</robot>
