<?xml version="1.0" encoding="utf8"?>


<robot name="jeanmarie" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="robot_name" value="pierrette" />

  <!-- Body -->
  <xacro:property name="chassis_l"  value="0.25" /> 
  <xacro:property name="chassis_w"  value="0.22" /> 
  <xacro:property name="chassis_h"  value="0.08" /> 
  <xacro:property name="chassis_dz" value="0.05" />
  <xacro:property name="chassis_dx" value="-0.08" />
  <xacro:property name="chassis_m"  value="1.25" />

  <!-- Main wheels -->
  <xacro:property name="wheel_radius" value="0.0825" />
  <xacro:property name="wheel_width"  value="0.05" />
  <xacro:property name="wheel_track"  value="0.33" />
  <xacro:property name="wheel_mass"   value="1." />
  <xacro:property name="wheel_joint_damping" value="0.01" />
  <xacro:property name="wheel_joint_friction" value="0.01" />

  <!-- Caster wheel -->
  <xacro:property name="caster_ax1_l"     value="0.05"  /> <!-- size and location !-->
  <xacro:property name="caster_ax1_r"     value="0.01" />  <!-- of vertical axle  !-->
  <xacro:property name="caster_ax1_dx"    value="-0.18" />  <!-- wrt base_link     !-->
  <xacro:property name="caster_ax1_dy"    value="0." />
  <xacro:property name="caster_ax1_dz"    value="0.0" />
  <xacro:property name="caster_ax1_joint_damping"    value="0.1" />
  <xacro:property name="caster_ax1_joint_friction"   value="0.01" />
  <xacro:property name="caster_ax2_l"     value="0.05"/>          <!-- size and location  !-->
  <xacro:property name="caster_ax2_r"     value="0.005"/>         <!-- of horizontal axle !-->
  <xacro:property name="caster_ax2_loc"   value="-0.025 0 -0.05"/> <!-- wrt vert axle      !-->
  <xacro:property name="caster_ax2_joint_damping"    value="0.1" />
  <xacro:property name="caster_ax2_joint_friction"   value="0.01" />
  <xacro:property name="caster_wheel_r"   value="0.035"/> <!-- Wheel diameter and hub diameter-->
  <xacro:property name="caster_wheel_r1"  value="0.01" /> 
  <xacro:property name="caster_wheel_l"   value="0.03" /> <!-- wheel thickness --> 
  <xacro:property name="caster_wheel_m"   value="0.25" /> <!-- wheel mass      -->

  
  <xacro:property name="high_definition_body_visual" value="false" />
  <xacro:property name="high_definition_wheel_visual" value="false" />
  <xacro:property name="high_definition_wheel_mesh" value="package://roverboard_description/meshes/hoverboard_wheel_6.5.dae" />
  <xacro:property name="high_definition_cwheel_visual" value="false" />
  <xacro:property name="high_definition_cwheel_plate_visual" value="false" />
  
  <xacro:include filename="$(find roverboard_description)/urdf/roverboard.urdf.xacro" />
   
</robot>
