<?xml version="1.0" encoding="utf8"?>


<robot name="roverboard" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="robot_name" value="roverboard_1" />

  <xacro:property name="chassis_l"  value="0.25" /> 
  <xacro:property name="chassis_w"  value="0.22" /> 
  <xacro:property name="chassis_h"  value="0.1" /> 
  <xacro:property name="chassis_dz" value="0.05" />
  <xacro:property name="chassis_dx" value="0.025" />
  <xacro:property name="chassis_m"  value="1.25" />

  <xacro:property name="wheel_radius" value="0.0825" />
  <xacro:property name="wheel_width"  value="0.05" />
  <xacro:property name="wheel_track"  value="0.3" />
  <xacro:property name="wheel_mass"   value="1.01" />
  <xacro:property name="wheel_joint_damping" value="0.01" />
  <xacro:property name="wheel_joint_friction" value="0.01" />
  
  <xacro:property name="high_definition_body_visual" value="false" />
  <xacro:property name="high_definition_wheel_visual" value="true" />

  <xacro:include filename="$(find roverboard_description)/urdf/roverboard.urdf.xacro" />
   
</robot>
