<?xml version="1.0"?>
<launch>
  <arg name="robot_name"      default="jeanmarie"/>

  <arg name="map" default="$(find two_d_guidance)/maps/track_ethz_cam1_mb.yaml" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find roverboard_guidance)/config/movebase/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find roverboard_guidance)/config/movebase/costmap_common_params.yaml" command="load" ns="local_costmap" />
    
    <rosparam file="$(find roverboard_guidance)/config/movebase/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find roverboard_guidance)/config/movebase/local_costmap_params.yaml" command="load" />
    
    <rosparam file="$(find roverboard_guidance)/config/movebase/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find roverboard_guidance)/config/movebase/move_base_params.yaml" command="load" />
    
    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
    
    <remap from="/odom" to="/diff_drive_controller/odom" />
    <remap from="/cmd_vel" to="/diff_drive_controller/cmd_vel" />
    
  </node>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)" output="screen">
      <param name="frame_id" value="map"/>
  </node>

  <node pkg="robot_localization" type="ekf_localization_node" name="$(arg robot_name)_ekf_localization" clear_params="true" output="screen">
    <rosparam command="load" file="$(find roverboard_guidance)/config/ekf_smocap.yaml" />
    <!--<rosparam param="base_link_frame" subst_value="True">$(arg robot_name)/base_link</rosparam> -->
    <!--    <rosparam param="odom_frame" subst_value="True">$(arg robot_name)/odom</rosparam> -->
    <!--<rosparam param="odom0" subst_value="True">$(arg robot_name)/rosmip_balance_controller/odom</rosparam> -->
    <!-- <rosparam param="pose0" subst_value="True">/smocap/marker_$(arg robot_marker)</rosparam> -->
    <remap from="odometry/filtered" to="$(arg robot_name)/ekf/pose"/>
  </node>

  <node name="world_to_map_publisher" pkg="tf" type="static_transform_publisher"
         args="0 0 0  0 0 0 world map 100"/>
</launch>
