<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="caroline_jetson" />
  
  <arg name="start_hardware" default="true" />
  <arg name="start_base_control" default="true" />
  <arg name="start_description" default="true" />
  <arg name="start_teleop" default="false" />	
  <!-- <arg name="start_camera" default="false" /> -->
  <!-- <arg name="start_lidar" default="true" /> -->
  
  <!-- ****** Starts hardware ****** -->
  <group if="$(arg start_hardware)">
    <include file="$(find roverboard_control)/launch/hardware.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
      <arg name="odrive_interface_type" default="0" />     <!-- 0->ASCII, 1->CAN -->
      <arg name="hardware_interface_dt" default="0.02" />
    </include>
  </group>
  
  <!-- <node pkg="roverboard_odrive" type="test_odrive_ascii.py" name="odrive_node" /> -->
  
  <!--  ****** Starts base control (joint publisher, diff drive controller) ****** -->
  <group if="$(arg start_base_control)">
    <include file="$(find roverboard_control)/launch/base_control.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
  </group>

  <!-- ****** Starts description ****** -->
  <group if="$(arg start_description)">
    <include file="$(find roverboard_description)/launch/description.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
  </group>

  <!-- ****** Starts a teleop node ****** -->
  <group if="$(arg start_teleop)">
    <include file="$(find roverboard_control)/launch/teleop.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
  </group>
  
  <!-- <!-\- ****** Starts camera ****** -\-> -->
  <!-- <group if="$(arg start_camera)"> -->
  <!--   <include file="$(find roverboard_caroline)/launch/camera_road_front.launch"> -->
  <!--   </include> -->
  <!--   <include file="$(find roverboard_caroline)/launch/camera_horiz_front.launch"> -->
  <!--   </include> -->
  <!-- </group> -->

  <!-- <!-\- ****** Starts lidar ****** -\-> -->
  <!-- <group if="$(arg start_lidar)">	 -->
  <!--   <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen"> -->
  <!--     <param name="serial_port"         type="string" value="/dev/ttyUSB0"/> -->
  <!--     <param name="serial_baudrate"     type="int"    value="115200"/><!-\-A1/A2 -\-> -->
  <!--     <!-\-param name="serial_baudrate"     type="int"    value="256000"-\-><!-\-A3 -\-> -->
  <!--     <param name="frame_id"            type="string" value="hokuyo_link"/> -->
  <!--     <param name="inverted"            type="bool"   value="false"/> -->
  <!--     <param name="angle_compensate"    type="bool"   value="true"/> -->
  <!--   </node> -->
  <!-- </group>	 -->

</launch>
