<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="caroline_jetson" />

  <arg name="start_robot" default="false" />
  <arg name="start_base_control" default="false" />
  <arg name="start_description" default="false" />
  <arg name="start_teleop" default="false" />	
  <arg name="start_camera" default="false" />
  <arg name="start_lidar" default="false" />
  <arg name="start_cartographer" default="false" />
  <arg name="start_aruco_lm_detection" default="false" />
  <arg name="start_lane_detection" default="false" />
  <arg name="start_lane_guidance" default="false" />

  <arg name="carto_use_aruco_lm" default="false"/>
  
  <include file="$(find roverboard_caroline)/launch/robot_cartographer.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="start_robot" default="$(arg start_robot)" />
    <arg name="start_base_control" default="$(arg start_base_control)" />
    <arg name="start_description" default="$(arg start_description)" />
    <arg name="start_teleop" default="$(arg start_teleop)" />	
    <arg name="start_camera" default="$(arg start_camera)" />
    <arg name="start_lidar" default="$(arg start_lidar)" />
    <arg name="start_cartographer" default="$(arg start_cartographer)" />
    <arg name="carto_use_aruco_lm" default="$(arg carto_use_aruco_lm)"/>
    
    <arg name="start_aruco_lm_detection" default="$(arg start_aruco_lm_detection)" />
    <arg name="start_lane_detection" default="$(arg start_lane_detection)" />
    <arg name="start_lane_guidance" default="$(arg start_lane_guidance)" />
  </include>

</launch>
